body {
    font-size: 1.5rem;
    font-family: "FreeSans", "Roboto", sans-serif;

    background-color: #000;
    color: #ccc;
}

input, button {
    padding: 0.5em;

    background-color: rgba(127, 127, 127, 0.5);
    color: #fff;
    font-size: inherit;
    font-family: inherit;
}

#videoid-input {
    font-size: 0.7em;
    width: 30em;
    max-width: 100%;
}

#video, #player {
    display: block;
    width: 100vw;
}

#video, #audio {
    pointer-events: none;
}
